.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.mat-form-field {
    display: block;
}

.mat-card {
    width: 50%;
}