<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav px-1" mode="side" opened>
        <mat-action-list>

            <mat-card class="mb-1" mat-list-item *ngFor="let juego of juegos">
                {{juego.name}}<br>
                <div class="mat-headline">{{juego.hour}}</div>
            </mat-card>
        </mat-action-list>
    </mat-drawer>

    <div class="example-sidenav-content">
        <!-- <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button> -->
        <!-- <iframe #iframefz onload="iframeLoad()" src="https://espn-live.stream/stream/54013.html" frameborder="0"></iframe> -->
        <!-- <video preload="metadata" src="https://espn-live.stream/f80d3e5d-32a1-4a66-888c-978e4ea836d1"></video> -->
        <iframe allow='encrypted-media' width='640' height='360' marginwidth='0' marginheight='0' scrolling='no' frameborder='0' allowfullscreen='yes' src='https://live-golf.stream/stream/83058.html'></iframe>
        <iframe allow='encrypted-media' width='640' height='360' marginwidth='0' marginheight='0' scrolling='no' frameborder='0' allowfullscreen='yes' src='https://live-golf.stream/stream/83058.html'></iframe> <iframe allow='encrypted-media' width='640'
            height='360' marginwidth='0' marginheight='0' scrolling='no' frameborder='0' allowfullscreen='yes' src='https://live-golf.stream/stream/85517.html'></iframe>
    </div>
</mat-drawer-container>